doctype html
html( lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="Document"
        link(rel="stylesheet" href="/css/style.css" type="text/css")

    body
    
        include includes/header

        main

            div(class="columnas")
                div="ID" 
                div="Titulo" 
                div="Precio"

            each producto in productos
                div(class="producto")
                    p=producto.id
                    p=producto.title
                    p=producto.precio
                   
            

        script( src="index.js")

